# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
.mypy_cache/

# Environments
.venv/
.env

# VCS & IDE
.git/
.gitignore
.vscode/
*.code-workspace

# Build artifacts
build/
dist/
*.egg-info/

# Local data & logs
logs/
*.log

# Tests (optional to exclude test data from image)
tests/

# OS files
.DS_Store
